<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Paul-Williams/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Paul-Williams" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
